/*---------- Global ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;


}
/* -------- Bg & Container ------- */
.background {
    background-image: url(../img/container_background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    filter: blur(.1rem);  
    position: absolute;
}

.container {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
/* ----------- TODO APP ----------- */
.todo-app {
    background-color: rgba(255, 255, 255, 0.1);
    width: 400px;
    font-size: 1.6rem;
}