/*---------- Global ------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}
/* -------- Bg & Container ------- */
.container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/container_background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/* ----------- TODO APP ----------- */
.title {
    --font-size: 10rem;
    font-size: var(--font-size);
    line-height: var(--font-size);
    position: relative;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    background: -webkit-linear-gradient(145deg, rgba(123,24,184,1) 1%, rgba(83,24,184,1) 51%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin-top: -5rem;  
    margin-bottom: 1rem;
}
.todo-app {
    backdrop-filter: blur(0.5rem);
    background-color: rgba(255, 255, 255, 0.1);
    width: 60rem;
    min-height: 40rem;
    font-size: 1.6rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.todo-app::before {
    content: "";
    opacity: 0.5;
    position: absolute;
    inset: -5px; /* control the spread */
    transform: translate(10px, 8px); /* control the offsets */
    z-index: -1; /* place the element behind */
    background: -webkit-linear-gradient(325deg, rgba(123,24,184,1) 1%, rgba(83,24,184,1) 51%, rgba(0,212,255,1) 100%);
    filter: blur(10px); /* control the blur */
  }

/* ----------Header--------- */
.header {
    width: 100%;
    height: 5rem;
    display: flex;
    background-color:rgba(255, 255, 255, 0.4);
}

.header .toggle-all {
    display: none;
}


.toggle-all:checked + label{
    opacity: 100%;
}
.toggle-all + label {
    transform: rotateZ(90deg);
    opacity: 50%;
}
.toggle-all + label::before {
    content: "â¯";
    font-size: 22px;
    color: rgb(230, 230, 230);
    padding: 1rem 1.6rem;
}

.header .get-todo {
    padding-left: 1rem;
    flex: 1;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    background: -webkit-linear-gradient(325deg, rgba(123,24,184,1) 1%, rgba(83,24,184,1) 35%, rgba(0,212,255,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

/* -------Todo list--------- */
.todo-item {
    height: 6rem;
    padding: 0 1rem;
    background: -webkit-linear-gradient(325deg, rgba(123,24,184,1) 1%, rgba(83,24,184,1) 35%, rgba(0,212,255,1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.todo-item.enableEditing .todo-item-view {
    display: none;
}

.todo-item .toggle-completed {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    appearance: checkbox;

}






.todo-item.enableEditing .editing {
    display: block;
}
.editing {
    display: none;
}




/* .toggle-completed {
    display: none;
  } */
  
  .toggle-completed > label {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #f72414;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 7px 10px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
      0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
    border: 2px solid rgba(0, 0, 0, 0.44);
  }
  
  .toggle-completed > label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
    border: 1px solid black;
  }
  
  .toggle-completed > label:hover:before {
    width: 55px;
    height: 55px;
    box-shadow: inset 0 7px 10px #ff9d96;
  }
  
  .toggle-completed > label:active {
    transform: translateY(-50%) scale(0.9);
  }
  
  .tick_mark {
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-left: 14px;
    transform: rotateZ(-40deg);
  }
  
  .tick_mark:before,
  .tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
  }
  
  .tick_mark:before {
    left: 0;
    bottom: 0;
    width: 10px;
    height: 30px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(-68px);
  }
  
  .tick_mark:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(78px);
  }
  
  .toggle-completed:checked + label {
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
  }
  
  .toggle-completed:checked + label:before {
    width: 0;
    height: 0;
  }
  
  .toggle-completed:checked + label #tick_mark:before,
  .toggle-completed:checked + label #tick_mark:after {
    transform: translate(0);
    opacity: 1;
  }
  
